[submodule "vendor/inspect"]
	path = vendor/inspect
	url = git@github.com:kikito/inspect.lua.git
[submodule "vendor/md5"]
	path = vendor/md5
	url = git@github.com:kikito/md5.lua.git
[submodule "vendor/bump"]
	path = vendor/bump
	url = git@github.com:kikito/bump.lua.git
[submodule "vendor/anim8"]
	path = vendor/anim8
	url = git@github.com:kikito/anim8.git
[submodule "vendor/middleclass"]
	path = vendor/middleclass
	url = git@github.com:kikito/middleclass.git
[submodule "vendor/luajson"]
	path = vendor/luajson
url=git@github.com:harningt/luajson.git
[submodule "vendor/lua4json"]
	path = vendor/lua4json
	url = git@github.com:craigmj/json4lua.git
